name: publish
on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  release-build:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Sync dependencies
        run: uv sync --all-extras

      - name: Check if tag matches the version
        if: github.event_name == 'push'
        run: |
          VERSION_IN_CODE=$(uv version --short)
          if [ "v$VERSION_IN_CODE" != "$GITHUB_REF_NAME" ]; then
              echo "Tag does not match the version in pyproject.toml"
              exit 1
          fi

      - name: Override version to a snapshot version
        if: github.event_name == 'workflow_dispatch'
        run: |
          VERSION_IN_CODE=$(uv version --short)
          uv version "$VERSION_IN_CODE.dev${GITHUB_RUN_NUMBER}"

      - name: Build distributions
        run: uv build

      - name: Upload release distributions
        uses: actions/upload-artifact@v6
        with:
          name: release-dists
          path: dist/

      - name: Authenticate to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u lqc --password-stdin

      - name: Build OCI image
        shell: bash
        run: |
          IMAGE_TAG="$(uv version --short)"
          docker buildx build \
            --output=type=registry --tag "ghcr.io/lqc/kalandra:${IMAGE_TAG}" \
            .

  pypi-publish:
    runs-on: ubuntu-24.04 # PyPI action doesn't support ARM yet
    needs:
      - release-build
    permissions:
      id-token: write
    # Don't clutter PyPI with snapshots
    if: github.event_name == 'push'

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v7
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          print-hash: true
          attestations: true
