name: verify
on:
  pull_request:
    branches:
      - main

  push: # Trigger the job on push to main, so build caches are updated
    branches:
      - main

permissions:
  contents: read
  checks: write
  packages: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - uses: pre-commit/action@v3.0.1

  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Sync dependencies
        run: uv sync --all-extras --all-groups

      - name: Run tests
        env:
          TEST_GITHUB_APP_ID: "${{ secrets.KALANDRA_TEST_APP_ID }}"
          TEST_GITHUB_APP_KEY: "${{ secrets.KALANDRA_TEST_APP_KEY }}"
        run: uv run pytest --cov=src -vv --junit-xml=build/e2e-test-results.xml

      - name: Type checking
        uses: jakebailey/pyright-action@v2
        with:
          pylance-version: latest-release
          python-path: ${{ github.workspace }}/.venv/bin/python3

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: "**/*-results.xml"
          require_passed_tests: true
          detailed_summary: true
          follow_symlink: true
          include_passed: true
